.GetInTouch{
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', 'Serif';
    background-color: var(--dark-background);
}
.GetInTouch .Conteiner{
    position: absolute;
    width: 100%;
    height: 40rem;
    margin-top: 12rem;
    background-color: var(--dark-background);
}
.GetInTouch .Conteiner div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.MailStatus{
    padding: .5rem;
}
.SuccessSent{
    color: var(--color-success);
}
.ErrorSent{
    color: var(--color-alert);
}
.ContactForm {
    width:70%;
    /* margin-left: -9rem; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ContactForm ul li{
    /* position:absolute; */
    list-style: none;
    display: inline-flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.ContactForm ul li input, 
.ContactForm li textarea{
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--object-primary-color);
    color: var(--default-color-text);
}
.ContactForm ul li .NormalInput{
    width: 25rem;
}
.ContactForm ul li .smallInput{
    width: 11rem;
}
.LargeInput{
    width: 25rem;
    height: 10rem;
}
.ContactForm ul li #Wrong{
    border: 2px solid var(--color-alert);
}
.Footer{
    margin-top: 8rem;
}
.ContactForm ul li button input{
    background-color: transparent;
    padding: 0rem;
}
.SendMessageButton{
    margin-top: -1rem;
    width: 9.4rem;
    height: 3rem;
    text-align: left;
    padding-left: 1rem;
    background-color: var(--primary-button-color);
    color: var(--color-text);
    box-shadow: -4px 4px 10px var(--shadow-color);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: .9rem;
    cursor: pointer;
}
.SendMessageButton .SendIcon{
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: .55rem;
    color: var(--default-color-text);
    transition: transform .5s ease;
}
.SendMessageButton:hover{
    color: var(--color-text-1);
    border: 1px solid  var(--object-primary-color);
}
.SendMessageButton:hover .SendIcon{
    color: var(--default-color-text);
    transform: translateX(10px);
}


/* Media querys */

@media screen and (max-width: 882px) {
    .GetInTouch{ 
        margin-top: 110rem;
    }
    .ContactForm ul li .NormalInput{
        width: 25rem;
    }
    .ContactForm ul li .smallInput{
        width: 25rem;
    }
    .LargeInput{
        width: 25rem;
        height: 10rem;
    }
}
@media screen and (max-width: 850px) {
    .ContactForm {
        margin-left: 0;
        margin-right: 0;
    }
    .GetInTouch .Conteiner div{
        width: 80%;
    }
    .ContactForm {
        width:100%;
    }
    .ContactForm {
        width: none;
    }
    .ContactForm ul li .NormalInput{
        width: 20rem;
    }
    .ContactForm ul li .smallInput{
        width: 20rem;
    }
    .LargeInput{
        width: 20rem;
    }
}

@media screen and (max-width: 650px) {
    .ContactForm{
        margin-top: 1rem;
    }
    .MailStatus{
        /* width: 100%; */
        /* position: absolute; */
        margin-top: -5rem;
    }
}
@media screen and (max-width: 468px) {
    .ContactForm ul li .NormalInput{
        width: 12rem;
        margin-left: -1rem;
    }
    .ContactForm ul li .smallInput{
        width: 12rem;
        margin-left: -1rem;
    }
    .LargeInput{
        width: 12rem;
        margin-left: -1rem;
    }
}
@media screen and (max-width: 358px) {
    .ContactForm ul li .NormalInput{
        width: 12rem;
        margin-left: -2rem;
    }
    .ContactForm ul li .smallInput{
        width: 12rem;
        margin-left: -2rem;
    }
    .LargeInput{
        width: 12rem;
        margin-left: -2rem;
    }
    .SendMessageButton{
        margin-left: -2rem;
    }
}
@media screen and (max-width: 286px) {
    .ContactForm ul li .NormalInput{
        width: 11rem;
        margin-left: -2.5rem;
    }
    .ContactForm ul li .smallInput{
        width: 11rem;
        margin-left: -2.5rem;
    }
    .LargeInput{
        width: 11rem;
        margin-left: -2.5rem;
    }
}
