.Projects{
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', 'Serif';
}
.ProjectsConteiner{
    position: absolute;
    width: 100%;
    margin-top: 12.5rem;
    margin-left: -1.5rem;
}
.ProjectsConteiner .ProjectCard{
    width: 70%;
    /* background-color: thistle; */
    margin-right: auto;
    margin-left: auto;
}
.ProjectsConteiner .ProjectCard li{
    display: inline-flex;
    text-align: left;
    list-style: none;
    cursor: pointer;
    padding: 1rem;
}
.ProjectsConteiner .ProjectCard li .Card img{
    width: 16rem;
    height: 16rem;
    border-radius: 18px;
    z-index: -1;
}
.ProjectsConteiner .ProjectCard li div h1{
    font-size: 1.5rem;
}
.ProjectsConteiner .ProjectCard li div p{
    color: var(--color-text);
    width: 13rem;
    overflow: hidden;
}
.ProjectsConteiner .ProjectCard li div button{
    width: 8rem;
    height: 2.5rem;
    background-color: var(--primary-button-color);
    color: var(--color-text);
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: left;
    padding-left: .85rem;
    cursor: pointer;
}
.ProjectsConteiner .ProjectCard li div button .ForwardIcon{
    /* position: absolute; */
    margin-top: .13rem;
    margin-left: .5rem;
    transition: transform 0.5s ease;
}
.ProjectsConteiner .ProjectCard li div button:hover {
    color: var(--color-text-1);
    border: 1px solid var(--object-secundary-color);
}
.ProjectsConteiner .ProjectCard li div button:hover .ForwardIcon{ 
    transform: translateX(10px);
    color: var(--color-text);
}
.ProjectCard .Card{
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    text-align: left;
}
.ProjectCard .Card img{
    z-index: -1;
}
.ProjectCard .Card div h1{
    margin-top: -14rem;
    margin-left: -11rem;

    transition: transform 1s ease-in-out;
    z-index: 4;
}
.ProjectsConteiner .ProjectCard li div p{
    margin-left: -14rem;
    transition: transform .5s ease-in-out;
    z-index: 4;
}
.ProjectsConteiner .ProjectCard li div button{
    margin-top: 10rem;
    margin-left: 1.5rem;
    transition: transform .5s ease-in-out;
    z-index: 6;
}
.ProjectCard  li:hover  h1{
    color: var(--color-text);
    transform: translateX(12.5rem);
} 
.ProjectsConteiner .ProjectCard li:hover div p{
    transform: translateX(15.5rem);
}

.ProjectsConteiner .ProjectCard li:hover div button{
    transform: translateY(-10rem);
}

.ProjectCard li div .OpacityEffect{
    position: absolute;
    width: 15.9rem;
    height: 15.9rem;
    margin-top: 0rem;
    border-radius: 18px;
    background: transparent;
    border: 1px solid var(--border-color);
    transition:  background .8s ease-in-out;
     
    z-index: 0;
}
.ProjectCard li:hover div .OpacityEffect{
    background:var(--dark-background);
    opacity: 0.8;
}
.ProjectsConteiner li div:hover  h1{
    color: var(--color-text);
}