.Services{
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', 'Serif';
    margin-top: -2rem;
}
.ServicesPage{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
}
.ServicesPage div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text);
}
.ServicePageConteiner{
    margin-top: 3rem;
}
.ServicesElements li{
    list-style: none;
    display: inline-flex;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 12rem;
    height:12rem;
    border-radius: 18px;
    border: 1px solid var(--object-primary-color);
    padding: 2rem;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.ServiceHeader .ServiceTittle img{
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
.ServiceTittle p{
    width: 10rem;
    margin-left: -1rem;
    margin-top: .25rem;
    font-size: 1.22rem;
    text-align: center;
    font-style: bold;
}
.Sub_conteiner{
    position: relative;
    width: 20rem;
    margin-top: 13rem;
    transition: transform .5s ease-in-out;
}
.ServicesElements li:hover .Sub_conteiner{
    transform: translateY(-22rem);
}
.ServicesElements li .OpacityEffect{
    position: absolute;
    width: 16.1rem;
    height: 16.1rem;
    margin-top: -2.1rem;
    margin-left: -2.1rem;
    border-radius: 18px;
    background: transparent;
    border: 1px solid var(--border-color);
    transition:  background .8s ease-in-out;
    z-index: 0;
}
.ServicesElements li:hover .OpacityEffect{
    background:var(--object-primary-color);
    opacity: 0.9;
}
.SubServices{
    margin-top: .5rem;
    margin-left: -2rem;
}
.SubServices {
    text-align: left;
}
.SubServices img{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -1.5rem;
}
.SubServices div{
    width: 13rem;
    margin-left: -1.5rem;
    margin-top: 0rem;
}
.Projects{
    margin-top: 10rem;
}

/* Media querys */

@media screen and (max-width: 1091px) {
    .ServicesPage{
        /* position: relative; */
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .Projects{
        margin-top: 20rem;
    }
}
@media screen and (max-width: 773px) {
    .Projects{
        margin-top: 60rem;
    }
    @media screen and (max-height: 470px) {
        .Projects{
            margin-top: 70rem;
        }
    }
}
@media screen and (max-width: 384px) {
    .ServicesElements li{
        margin-left: -1.5rem;
    }
}
@media screen and (max-width: 331px) {
    .ServicesElements li{
        width: 9rem;
        height: 9rem;
    }
    .ServicesElements li .OpacityEffect{
        width:13.1rem;
        height: 13.1rem;
    }
    .ServiceHeader .ServiceTittle img{
        width: 30px;
        height: 30px;
    }
    .ServiceTittle p{
        margin-left: -2rem;
    }
    .ServicesElements li{
        margin-left: -2.5rem;
    }
    .ServicePageConteiner{
        margin-top:0rem;
    }
    @media screen and (max-height: 364px) {
        .ServicePageConteiner{
            margin-top:-4rem;
        }
        .Projects{
            margin-top: 50rem;
        }
    }
}