.Skills{
    /* position: absolute; */
    width: 100%;
    height: 50rem;
    font-family: 'Ubuntu', 'Serif';
    background-color: var(--dark-background);
}
.SkillsConteiner{
    position: absolute;
    margin-top: 25vh;
    width: 100%;
    /* height: 25rem; */
    text-align: center;
    margin-bottom: 30rem;
    color: var(--color-text);
}
.SkillsElements{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.SkillsElements ul{
    margin-left: -2rem;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.SkillsElements li{
    /* width:10rem; */
    list-style: none;
    display: inline-flex;
}
.SkillHearder img{
    width: 30px;
    height: 30px;
    margin-right: 1.75rem;
}
.DropIcon{
    width: 2rem;
    height: 2rem;
    color: var(--object-secundary-color);
    /* margin-top: -10rem; */
    margin-left: 10.5rem;
}
.SkillsElements li .SkillHearder .SkillTittle{
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}
.SkillsElements li .SkillHearder span{
    position: absolute;
    margin-top:.5rem ;
}
.SkillsElements li .SkillHearder .SkillTittle:hover{
    /* padding: 2rem; */
    border-radius: 10px;
    border: 1px solid var(--object-secundary-color);
    color: var(--object-secundary-color);
}
.SubSkillDisplay{
    margin-top: 1rem;
    margin-left: 2.55rem;
    margin-bottom: 2rem;
}
.SubSkillDisplay div{
    text-align: left;
}
.SubSkillDisplay div .SubSkillLevelConteiner{
    width: 204px;
    height: .8rem;
    border: 2px solid var(--object-primary-color);
    border-radius: 9px;
}
.SubSkillDisplay div .SubSkillLevelConteiner .SubSkillLevel{
    margin-top: .1rem;
    margin-left: .1rem;
    width: 200px;
    height: .6rem;
    border-radius: 9px;
    background-color: var(--object-secundary-color);
}
.SubSkillLevelPercentage{
    /* position: absolute; */
    margin-top: -2.75rem;
    margin-left: 10.7rem;
    color: var(--object-secundary-color);
}

/* Media querys */
@media screen and (max-height: 570px ) {
    .Skills{
        margin-top: 5rem;
        height: 70rem;
    }
    .SkillsConteiner{
        margin-top: 10rem;
    }
    @media screen and (max-width:650px) {
        .SkillsConteiner{
            margin-top: 5.5rem;
        }
    }
}

@media screen and (max-width: 487px) {
    .SkillHearder img{
        margin-right: .5rem;
    }
    .SkillsElements li {
        margin-left: -2.5rem;
    }
    .SubSkillDisplay{
        position: relative;
        margin-left: 2.5rem;
    }
    .DropIcon{
        position: relative;
        margin-left: 10rem;
    }
}
@media screen and (max-width: 382px) {
    .SkillHearder img{
        margin-right: .5rem;
    }
    .SkillsElements li .SkillHearder .SkillTittle{
        padding: .5rem;
    }
    .SkillsElements li .SkillHearder span{
        font-size: .75rem;
    }
    .SkillsElements li {
        position: relative;
        width: 14rem;
        margin-left: -3.75rem;
        margin-right: 0rem;
    }
    .SubSkillDisplay{
        position: relative;
        margin-left: .5rem;
        margin-right: 0rem;
    }
    .DropIcon{
        position: relative;
        margin-left: 7.3rem;
        margin-right: 0rem;
    }
}