:root{
    --dark-background:#080A09;
    --dark:#080A09;
    --object-primary-color:#424242;
    --object-primary-degra-1:#161616;
    --object-primary-degra-2:#0D0D0D;
    --object-secundary-color:#666666;
    --conteiner-color:#424242;
    --object-therth-color:#252525;
    --subtitle-color:#8D8D8D;
    --primary-button-color:#3834ff;
    --font-type:Roboto;
    --border-color:#151515;
    --border-color-2: #aaaaaa;
    --color-text:#ffffff;
    --default-color-text:#ffffff;
    --color-text-1:#C1C1C1;
    --color-alert:#ff6e6e;
    --color-success:#66ff1f;
    --scroll-bar-color:#a8a8a8;
    --scroll-bar-color-1:#3a3a3a;
}


[inusetheme="light"]{--dark-background:#eeeeee;}
[inusetheme="light"]{--color-text:#000000;}
[inusetheme="light"]{--color-text-1:#cccccc;}
[inusetheme="light"]{--subtitle-color:#4b4b4b;}
[inusetheme="light"]{--border-color:#dbdbdb;}
[inusetheme="light"]{--object-secundary-color:#a8a8a8;}
[inusetheme="light"]{--object-primary-degra-1:#8b8b8b;}
[inusetheme="light"]{--object-primary-degra-2:#c2c2c2;}
[inusetheme="light"]{--color-alert:#df0000;}
[inusetheme="light"]{--color-success:#41ce00;}
[inusetheme="light"]{--scroll-bar-color:#2e2e2e;}
[inusetheme="light"]{--scroll-bar-color-1:#4b4b4b;}
