.Footer{
    width: 100%;
    font-family: 'Ubuntu', 'Serif';
    color: var(--color-text);
    
}
.Footer .FooterPage{
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    background-color: var(--object-therth-color);
}
.Footer .FooterList li{
    width: 20rem;
    height: 10rem;
    list-style: none;
    display: inline-flex;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    
}

.Footer .FooterList .List_Element h2{
    margin-top: 4rem;
    width: 16rem;
    
}
.FooterContactList{
    margin-top: 2rem;
}
.Footer_icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -.3rem;
    margin-left: -1.2rem;
    color: var(--object-secundary-color);

}

.Footer_Contact_icon{
    width: 40px;
    height: 40px;
    color: var(--object-secundary-color);
    cursor: pointer;
}
.Footer_info{
    margin-top: -.7rem;
    margin-left: 1rem;
    
}
.Footer_Contact_icon:hover{
    color: var(--object-primary-color);
}
.Copyright{
    width: 100%;
    position: relative;
    margin-top: -1rem;
    font-size: .85rem;
}

/* Media Querys */
@media screen and (max-width: 650px) {
    .Copyright{
        margin-top: -6rem;
    }
}
@media screen and (max-width: 396px) {
    .Footer .FooterList li{
        font-size: .85rem;
    }
    .Copyright{
        font-size: .65rem;
    }
    .Footer .FooterList li{
        width: 10rem;
    }
}
@media screen and (max-height:511px) {
    .Footer .FooterPage{
        margin-top: 5rem;
    }
}
@media screen and (max-height:430px) {
    .Footer .FooterPage{
        margin-top: 12rem;
    }
}
@media screen and (max-height:359px) {
    .Footer .FooterPage{
        margin-top: 16rem;
    }
}
@media screen and (max-height:290px) {
    .Footer .FooterPage{
        margin-top: 18rem;
    }
}
