.Header{
    width: 100%;
    height: 4rem;
    position: fixed;
    /* border: 1px  solid var(--border-color); */
    color: var(--color-text);
    background-color: var(--dark-background);
    z-index: 10;
}
.HeaderComponents{
    position: relative;
    display: inline-block;
    margin-top: .30rem;
}
/* username */
.HeaderComponents .Username{
    float: left;
    margin-right: max(44.5rem, 20rem);
    margin-top: 0.15rem;
}
.Username h1{
    position: absolute;
    font-size: 1rem;
    margin-left:3rem;
    color: var(--color-text);
    text-decoration: none;
    text-underline-offset: none;
}
/* links to the navegation */
.Links{
    float: right;
    margin-right: max(-13rem, 6rem);
}
.Links ul li{
    display: inline-block;
    margin-right: 2rem;
    text-decoration: none;
    color:var(--white-letter);
}
#navLink{
    text-decoration: none;
    color:var(--white-letter);
}
#activeNavLink{
    text-decoration: none;
    color:var(--object-secundary-color)
}
.Links ul li:hover{
    color: var(--object-secundary-color);
    font-style: bold;
    cursor:pointer;
}

.HeaderIcon{
    position: absolute;
    margin-top: -2rem;
    
    margin-left: 91.5%;
}

.ThemeIcon{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -1.10rem;
    color:var(--color-text);
    cursor:pointer;
    /* margin-left: max(58rem,8rem); */
}
.ThemeIcon:hover{
    color: var(--object-secundary-color);
}
#menuIcon{
    display: none;
}
.MobileMenu{
    position: fixed;
    width: 100%;
    height: 8rem;
    display: none;
    bottom: -.25rem;
    background-color: var(--dark-background);
    border: 1px solid var(--border-color);
    z-index: 11;
}
.MobileMenu ul{
    margin-left: -1.5rem;
    margin-top: 3.5rem;
}
.MobileMenu ul li{
    list-style: none;
    display: inline-flex;
}
.MobileMenu ul li div p{
    margin-top:-.09rem;
}
.MenuButton{
    width: 4rem;
    height: 4rem;
    color:var(--color-text);
    margin: .15rem;
}
.MenuButton ul li:hover, .MenuButton:hover{
    color:var(--object-secundary-color);
}

.closeIcon{
    margin-left: 35vh;
    padding-top: 3rem;
    padding-right: 1rem;
    float: right;
}
/*  Media query */

@media screen and (max-width: 650px) {
    .Header{
        bottom: 0;
        height: 2.5rem;
        border: 1px solid var(--border-color);
    }
    .Links{
        display: none;
    }
    .HeaderComponents .Username{
        position: relative;
        margin: -1.2rem 45rem 0rem 0rem;
        font-size: .55rem;
    }
    .HeaderComponents .Username h1{
        font-size: 1.15rem;
    }
    #menuIcon{
        display: block;
        float:right;
        margin-top: -.6rem;
        margin-right: 1.5rem;
    }
    .HeaderIcon{
        position: absolute;
        margin: -.1rem 5rem 0rem 35rem;
        margin-left: 80%;
        left: 0;
    }
    .MobileMenu{
        display: block;
        height: 8rem;
    }
    .closeIcon{
        margin-left: max(9rem, 3rem);
        margin-top: -1.5rem;
    }
}
@media screen and (max-width: 420px) {
    .HeaderIcon{
        margin-left: 70%;
    }
    .HeaderComponents .Username h1{
        margin-left: .5rem;
    }
}
@media screen and (max-width: 388px) {
    .MobileMenu{
        height: 12rem;
    }
    .closeIcon{
        margin-left: max(5rem, 3rem);
        margin-top: -2.5rem;
    }
}
@media screen and (max-width: 240px) {
    .HeaderIcon{
        margin-left: 60%;
    }
}
@media screen and (max-width: 216px) {
    .MobileMenu{
        height: 18rem;
    }
}
