.App {
  text-align: center;
  margin:0 auto;
  background-color: var(--dark-background);
}
.PersonalLogoIn,
.PersonalLogoOut{
  width: 2.75rem;
  height: 2.75rem;
  position:fixed;
  z-index: 20;
  right: 2rem;
  bottom: 3rem;
  border-radius: 10px;
  border: 1px solid var(--color-text);
  transition: border .2s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 5px var(--shadow-color);
  
}
.PersonalLogoIn{
  animation: App-logo-spin-fadeIn 1s both;
}
.PersonalLogoOut{
  animation: App-logo-spin-fadeOut 1s both;
}
.PersonalLogoIn:hover,
.PersonalLogoOut:hover{
  border: 1px solid var(--object-secundary-color);
}

::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--scroll-bar-color-1);
  border-radius: .5rem;

}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--object-secundary-color);
}


@media screen and (max-width: 660px) {
  .PersonalLogoIn,
  .PersonalLogoOut{
    width: 1.75rem;
    height: 1.75rem;
    right: 1rem;
  }
}
@keyframes App-logo-spin-fadeIn {
  from {
    transform: translateX(3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
} 
@keyframes App-logo-spin-fadeOut {
  from {
    transform: translateX(0rem);
    opacity: 1;
  }
  to {
    transform: translateX(3rem);
    opacity: 0;
    display: none;
  }
} 

