.App {
  text-align: center;
  margin:0 auto;
  background-color: var(--dark-background);
}
.PersonalLogo{
  width: 2.75rem;
  height: 2.75rem;
  position:fixed;
  z-index: 20;
  right: 2rem;
  bottom: 3rem;
  border-radius: 10px;
  border: 1px solid var(--color-text);
  transition: border .2s ease-in-out;
  cursor: pointer;
}
.PersonalLogo:hover{
  border: 1px solid var(--object-secundary-color);
}

@media screen and (max-width: 660px) {
  .PersonalLogo{
    width: 1.75rem;
    height: 1.75rem;
    right: 1rem;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .PersonalLogo{
    animation: App-logo-spin infinite .9s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-.1rem);
  }
} */
