:root{
  --dark-background:#080A09;
  --object-primary-color:#424242;
  --object-secundary-color:#666666;
  --object-therth-color:#252525;
  --subtitle-color:#8D8D8D;
  --primary-button-color:#1611FF;
  --font-type:Robot;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
